@import url(./reset.css);
@import url(./carousel.css);
@import url(./login.css);

body {
  background: #161616;
  color: white;
  font-weight: 400;
  font-family: sans-serif;
  margin-top: 10px;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.rechts ul {
  display: flex;
  gap: 30px;
  padding-right: 70px;
  font-size: 17px;
}

.rechts,
ul li {
  text-decoration: none;
}

/*  nav link underline animation */

nav ul li a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #ebcb79;
}
nav ul li a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #ebcb79;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

nav ul li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom;
}

nav ul li a:hover {
  animation: animate2 1s ease-in-out infinite alternate;
}

/**/

figure img {
  padding-top: 15px;
  height: 450px;
}

@media (min-width: 700px) {
  main {
    padding-top: 30px;
  }
}
main {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  max-width: 85%;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 15px;
  padding: 30px 0px;
}
h3 {
  color: #ebcb79;
  font-weight: 500;
}
aside article figure {
  padding-top: 20px;
}
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg, #4089ff, #5aafe4 50%, #00aceb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(255, 22, 22, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  max-width: 30px;

  /* position: relative;
  left: 200px;
  top: 10px; */
}

/* CSS */
.button-64 {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 4px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: expo-brand-demi, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 17px;
  height: 40px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 10px;
}

.button-64,
a {
  text-decoration: none;
}

.button-64:hover {
  box-shadow: rgba(0, 1, 0, 0.2) 0 2px 8px;
  opacity: 0.85;
  animation: animate2 1s ease-in-out infinite alternate;
}

.button-64:active {
  outline: 0;
}

.button-64:focus {
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 3px;
}

@media (max-width: 420px) {
  .button-64 {
    height: 48px;
  }
}

hr {
  max-width: 100%;
  height: 1px;

  border-color: rgba(65, 65, 65, 0.836);
}

/* header {
  border: rgba(65, 65, 65, 0.836) 2px solid;
  padding-left: 20px;
  padding-bottom: 30px;
} */

/* nav div img {
  height: 120px;
  border-radius: 3em;
} */

nav .links img {
  height: 120px;
  border-radius: 3em;
}

/* --------------------- Footer -------------------- */
footer {
  position: absolute;
  bottom: auto;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  padding-top: 10px;
  color: #fff;
  margin-top: 50px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;
}

.socials a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background: #000;
  max-width: 100%;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}

.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom p a {
  color: #44bae8;
  font-size: 16px;
  text-decoration: none;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

.footer-menu {
  float: right;
}

.footer-menu ul {
  display: flex;
}

.footer-menu ul li {
  padding-right: 10px;
  display: block;
}

.footer-menu ul li a {
  color: #cfd2d6;
  text-decoration: none;
}

.footer-menu ul li a:hover {
  color: #27bcda;
}

a {
  color: #ebcb79;
}

#right-btn,
#left-btn {
  background-color: #ebcb79;
}

aside h3 {
  padding-bottom: 10px;
}

/* img#cristiano {
  padding-top: 100px;
  position: relative;
} */

main h1 {
  font-size: 50px;
  font-weight: 800;
  color: white;
  animation: animate 1s ease-in-out infinite alternate;
}

.carousel,
h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  margin-left: 50%;
  color: #ebcb79;
  margin-top: 200px;
  animation: animate2 1s ease-in-out infinite alternate;

  /* margin-top: 100px; */
}

h3 {
  font-size: 30px;
}

.carousel-container {
  margin-bottom: 100px;
}
.carousel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 150px;
}

.footer-logo {
  height: 150px;
  position: relative;
  max-width: 20px;
  display: flex;
  justify-content: center;
  left: 50%;
  right: 50%;
}

@keyframes animate {
  from {
    text-shadow: 0 0 10px white;
  }
  to {
    text-shadow: 0 0 20px white, 0 0 10px 0 0 20px white;
  }
}
@keyframes animate2 {
  from {
    text-shadow: 0 0 10px #ebcb79;
  }
  to {
    text-shadow: 0 0 20px #ebcb79, 0 0 10px 0 0 20px #ebcb79;
  }
}

@media only screen and (max-width: 900px) {
  main {
    display: flex;
    flex-wrap: wrap;
  }
  main h1 {
    text-align: center;
    font-size: 60px;
  }
  .carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
  }
  .carousel,
  h2 {
    margin-top: 80px;
    margin-left: 0;
  }

  h2 {
    margin-top: 20px;
  }
  img#cristiano {
    padding: 0;
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  main {
    display: flex;
    flex-wrap: wrap;
  }

  main h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
  }
  .carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
  }
  .carousel,
  h2 {
    margin-top: 80px;
    margin-left: 0;
  }

  h2 {
    margin-top: 20px;
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
  img#cristiano {
    padding: 0;
  }
  /* .footer {
      display: none;
    } */
}

@media (max-width: 500px) {
  .footer-menu ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
@media (max-width: 700px) {
  nav {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
    /* font-size: 13px; */
    width: 100vw;
  }
  .links {
    display: block;
    margin: auto;
    /* align-items: center; */
  }
  .rechts {
    margin: auto;
  }
}
